.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vh-100 {
  height: 100vh;
}

/* Khung chứa */
.container {
  width: 40%;
  margin-top: 10%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 #253365;
}

/* Phần tử con */
.content {
  padding: 4%;
  width: 100%;
}

.form-label {
  margin-bottom: 10px;
}

.btn {
  margin-left: 10px;
}

/* CSS Media Queries */
@media only screen and (max-width: 768px) {
  /* Khung chứa */
  .container {
    width: 80%;
    margin-top: 20%;
  }

  /* Phần tử con */
  .content {
    padding: 2%;
  }
}
