<div class="d-flex justify-content-center vh-100 align-items-center" style="background-color: #f3e0d7">
  <div class="container">
    <div class="content">
      <div>
        <h3>Tìm tài khoản của bạn</h3>
      </div>
      <hr>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Chúng tôi sẽ gửi thông tin về tài khoản của bạn qua email.<br>
          Vui lòng nhập email của bạn!</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               #username placeholder="Tài khoản email">
      </div>
      <p style="text-align: center; color: red;margin: 0; padding: 0">{{message}}</p>
      <div class="d-flex justify-content-end">
        <a routerLink="/security/login" role="button" class="btn mx-2" style="background-color: #e4e6eb">Hủy</a>
        <button (click)="onSubmit(username.value)" class="btn" style="background-color: darkorange">Gửi</button>
      </div>
    </div>
  </div>
</div>
