
<div class="d-flex justify-content-center vh-100" style="background-color: #f3e0d7 ">
  <div class="d-flex justify-content-center align-items-center" style="width: 48%; height: 62%; margin-top: 10%; background-color: white; border-radius: 5px; box-shadow: 0 0 20px 0 #253365">

    <form *ngIf="formChangePassword" [formGroup]="formChangePassword" (ngSubmit)="onSubmit()" style="padding: 6%; width: 100%">
      <div>
        <h3 style="text-align: center">Thay đổi mật khẩu
        </h3>
      </div>
      <hr>
      <div class="mb-3 row">
        <div class="col-md-4 d-flex align-items-center">
          <label for="username" class="form-label">Tên tài khoản:</label>
        </div>
        <div class="col-md-8">
          <input type="email" class="form-control"  formControlName="username" id="username" aria-describedby="emailHelp" readonly>
          <span class="error">{{findAccountError}}</span>
        </div>

      </div>
      <div class="mb-3 row">
        <div class="col-md-4 d-flex align-items-center">
          <label for="exampleInputOldPassword" class="form-label">Mật khẩu cũ:</label>
        </div>
        <div class="col-md-8">
          <input type="password" class="form-control" formControlName="password" id="exampleInputOldPassword" aria-describedby="emailHelp">
          <span class="error">{{passwordError}}</span>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-md-4 d-flex align-items-center">
          <label for="exampleInputNewPassword" class="form-label">Mật khẩu mới:</label>
        </div>
        <div class="col-md-8">
          <input type="password" class="form-control" formControlName="newPassword" id="exampleInputNewPassword" aria-describedby="emailHelp">
          <span class="error">{{newPasswordError}}</span>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-md-4 d-flex align-items-center">
          <label for="exampleInputConfirmNewPassword" class="form-label">Xác nhận lại mật khẩu:</label>
        </div>
        <div class="col-md-8">
          <input type="password" class="form-control" formControlName="confirmNewPassword" id="exampleInputConfirmNewPassword" aria-describedby="emailHelp">
          <span class="error">{{confirmNewPasswordError}}</span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="login.html" role="button" class="btn mx-2" style="background-color: #e4e6eb">Hủy</a>
        <button type="submit" class="btn" style="background-color: darkorange">Đổi</button>
      </div>
    </form>
  </div>

</div>
