.error {
  text-align: center;
  color: red;
}
@media only screen and (max-width: 768px) {
  .vh-100 {
    height: 120%;
  }
  .d-flex {
    display: block;
  }
  .justify-content-center {
    text-align: center;
  }
  .align-items-center {
    margin: 0 auto;
  }
  .col-md-4 {
    text-align: left;
  }
}

@media only screen and (max-width: 320px) {
  .vh-100 {
    height: 100%;
    width: 100%;
  }
  .d-flex {
    display: block;
  }
  .justify-content-center {
    text-align: center;
  }
  .align-items-center {
    margin: 0 auto;
  }
  .col-md-4 {
    text-align: left;
  }
  .form-control {
    font-size: 16px;
    padding: 10px;
  }
  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
