
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  height: 6.2rem;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);


}

header .logo-name {
  font-size: 1.5rem;
  margin: 0;
  line-height: 2;
  font-weight: bolder;
  /*letter-spacing: 1px;*/
}

@media screen and (max-width: 420px) {
  header .logo-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  header .logo-name {
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
    font-weight: bold;
  }
}
header .logo .logo-name:hover,
header .logo img:hover {
  -ms-transform: scale(1.08); /* IE 9 */
  -webkit-transform: scale(1.08); /* Safari 3-8 */
  transform: scale(1.08);
  text-decoration: none;
}

header .logo img {
  padding: 0;
  margin: 0;
  max-height: 90px;
  object-fit: contain;
}


#main {
  margin-top: 72px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  padding: 0;
  background: rgba(80, 88, 199, 0.5);
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navbar li {
  position: relative;
  margin-right: 15px;
}
nav ul li .n-item{
  color: #727171;
  font-size: 22px;
  font-weight: bold;
}

nav ul li  .n-item:hover{
  color: #eb5d1e;
}

nav ul li  .n-item{
  font-size: large;
  color: #27509A;

}
nav ul li i{
  font-size: 40px;
  color: #27509A;

}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover{
  color: #27509A;

}

nav .n-item:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  font-weight: bold;
  text-decoration:  red;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

.dropdownUser {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #f9f9f9;*/
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 0 0 0;
  z-index: 1;
  left: 0;
}

.dropdownUser:hover .dropdown-content {
  display: block;
  border-radius: 12px;
  background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
h5 .card-title
.font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;

}

