<div class="element">
  <div id="cards_landscape_wrap-2">
    <span class="readmore" style="text-align: center"> Sản phẩm mới </span>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="https://slg-gh.com.vn/data/product/gh9/gh-9000-hahe-xE91.png"
                       alt="GH 9000" style=""/>
                </div>
                <div class="text-container">
                  <h1> GH-900</h1>
                  <a><button class="btn-effect">Xem chi tiết</button></a>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="https://slg-gh.com.vn/data/product/gh11/gh-1100-hahe-49v.png"
                       alt="GH 11000" style=""/>
                </div>
                <div class="text-container">
                  <h1>GH-1100</h1>

                  <a><button class="btn-effect">Xem chi tiết</button></a>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="https://slg-gh.com.vn/data/product/gh14/gh-14000-hahe-dGD0.png"
                       alt="GH 14000" style=""/>
                </div>

                <div class="text-container">
                  <h1>GH-1400</h1>
                  <a><button class="btn-effect">Xem chi tiết</button></a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <main>
    <span class="readmore"> Phương pháp trị liệu</span>
    <hr>
    <div id="card-wrapper">
      <div class="card">
        <div class="card-image">
          <img src="https://tse2.mm.bing.net/th?id=OIP.OVTYA4r7O4kZ4-hLagaAIgHaF7&pid=Api&P=0" alt="Nguyên lý trị liệu xung điện">
          <h6>Nguyên lý trị liệu xung điện</h6>
          <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://tse2.mm.bing.net/th?id=OIP.QWd_MvyaWhljFM14DiUCfAHaF7&pid=Api&P=0" alt="Nguyên lý trị liệu đặc trưng GH">
          <h6>Nguyên lý trị liệu đặc trưng GH</h6>
          <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

      </div>
      <div class="card">
        <div class="card-image">
          <img src="https://www.slg-gh.com.vn/data/method-image/cau-hoi-thuong-gap-01.png" alt="Câu hỏi thường gặp">
          <h6>Câu hỏi thường gặp</h6>
          <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>
        <div class="card-detail">
        </div>

      </div>
    </div>
  </main>
</div>

