<div id="homepage">
<div id="body" style="position: sticky ;top: 120px;position: -webkit-sticky; z-index: 1">
  <form class="search-box">
    <input #element type="text" id="search-text" placeholder="Tìm kiếm sản phẩm"  required style="font-size: 22px">
    <button  (click)="search(element.value)" id="search-btn"><i class="fa fa-search" ></i></button>
  </form>
</div>
<main>
  <span class="readmore"> Sản phẩm</span>
  <hr>
  <h1 style=" margin-top: 10%;color: red" *ngIf="message">{{message}}</h1>
  <div class="element" *ngIf="message == null">
    <div id="cards_landscape_wrap-2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let pro of products">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="{{pro.imageList[0].image}}"
                       alt="GH 9000" style="">
                </div>
                <div class="text-container">
                  <h1>{{pro.name}}</h1>
                  <div class="button">
                    <a>
                      <button class="btn-effect" routerLink="/detail/{{pro.id}}">Xem chi tiết</button>
                    </a>
                    <a>
                      <button class="btn-effect" routerLink="/cart">Mua Ngay</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center " style="margin-top: 50px" >
            <button style="font-size: 20px" class="btn btn-outline-primary" (click)="first()">
              Trang Đầu
            </button>
            <button style="font-size: 20px"  class="btn btn-outline-primary" (click)="previous()"
                    [style.display]=" page==0 ? 'none': 'block'">{{page}}</button>
            <button style="font-size: 20px"  class="btn btn-primary">{{page + 1}}</button>
            <button style="font-size: 20px"  class="btn btn-outline-primary" (click)="next()"
                    [style.display]=" page==pageCount-1 ? 'none': 'block'">{{page + 2}}</button>
            <button style="font-size: 20px"  class="btn btn-outline-primary" (click)="last()">
              Trang Cuối
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<main>
  <span class="readmore"> Phương pháp trị liệu</span>
  <hr>
  <div id="card-wrapper">
    <div class="card">
      <div class="card-image">
        <img src="https://tse2.mm.bing.net/th?id=OIP.OVTYA4r7O4kZ4-hLagaAIgHaF7&pid=Api&P=0"
             alt="Nguyên lý trị liệu xung điện">
        <h6>Nguyên lý trị liệu xung điện</h6>

      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://tse2.mm.bing.net/th?id=OIP.QWd_MvyaWhljFM14DiUCfAHaF7&pid=Api&P=0"
             alt="Nguyên lý trị liệu đặc trưng GH">
        <h6>Nguyên lý trị liệu đặc trưng GH</h6>
      </div>

    </div>
    <div class="card">
      <div class="card-image">
        <img src="https://www.slg-gh.com.vn/data/method-image/cau-hoi-thuong-gap-01.png" alt="Câu hỏi thường gặp">
        <h6>Câu hỏi thường gặp</h6>
      </div>
    </div>
  </div>
</main>
</div>




