<div class="form_login">
  <section>
    <!--Bắt Đầu Phần Hình Ảnh-->
    <div class="img-bg">
      <img src="https://www.slg-gh.com.vn/data/service-image/SR-Nhatban/showroom-nhat-1.jpg" alt="Hình Ảnh Minh Họa">
    </div>
    <!--Kết Thúc Phần Hình Ảnh-->
    <!--Bắt Đầu Phần Nội Dung-->
    <div class="noi-dung">
      <div class="form">
        <h2>Trang Đăng Nhập</h2>
        <form action="">
          <div class="input-form">
            <span>Tên Người Dùng</span>
            <input type="text" name="">
          </div>
          <div class="input-form">
            <span>Mật Khẩu</span>
            <input type="password" name="">
          </div>
          <div class="nho-dang-nhap">
            <label><input type="checkbox" name=""> Nhớ Đăng Nhập</label>
          </div>
          <div class="input-form">
            <input type="submit" value="Đăng Nhập">
          </div>
          <div class="input-form">
            <p>Bạn Chưa Có Tài Khoản? <a href="#">Đăng Ký</a></p>
          </div>
        </form>
        <h4>Đăng Nhập Bằng Mạng Xã Hội</h4>
        <ul class="icon-dang-nhap">
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-google" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
    <!--Kết Thúc Phần Nội Dung-->
  </section>
</div>

