<section class="section" id="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="left-images">
          <img src="https://slg-gh.com.vn/data/product/gh9/gh-9000-hahe-xE91.png" alt="">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="right-content">
          <h4>GH 900</h4>
          <span class="price">$75.00</span>
          <ul class="stars">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
          <div class="quote">
            <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod.</p>
          </div>
          <div class="quantity-content">
            <div class="left-content">
              <h6>Số lượng</h6>
            </div>
            <div class="right-content">
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
              </div>
            </div>
          </div>
          <div class="total">
            <h5>Tổng tiền: $210.00</h5>
            <div> <a><button class="btn-effect">Thêm vào giỏ hàng</button></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

