<div id="cards_landscape_wrap-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="https://slg-gh.com.vn/data/product/gh9/gh-9000-hahe-xE91.png"
                     alt="GH 9000" style=""/>
              </div>
              <div class="text-container">
                <h3> GH-900</h3>
                <p></p>
                <a href="#" class="btn btn-transparent">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="https://slg-gh.com.vn/data/product/gh11/gh-1100-hahe-49v.png"
                     alt="GH 11000" style=""/>
              </div>
              <div class="text-container">
                <h3>GH-1100</h3>
                <p></p>
                <a href="#" class="btn btn-transparent">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a href="">
          <div class="card-flyer">
            <div class="text-box">
              <div class="image-box">
                <img src="https://slg-gh.com.vn/data/product/gh14/gh-14000-hahe-dGD0.png"
                     alt="GH 14000" style=""/>
              </div>

              <div class="text-container">
                <h3>GH-1400</h3>
                <p></p>
                <a href="#" class="btn btn-transparent">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
